<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactlibrary">

    <!-- Permissões -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <!-- Componente principal -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Outros componentes -->
        <!-- Adicione outros componentes necessários aqui, como serviços, provedores, receptores de broadcast, etc. -->

    </application>
</manifest>
